<div class="profile">
    
    <div class="profile-image">
        {% if profile.pic %}
            <img src="{{ url_for('static',filename="upload/"+profile.pic)}}">
        {% else %}
            <img src="{{ url_for('static',filename="upload/default-profile.jpg") }}">
        {% endif %}
    </div>
    
    <div class="profile">
        <h3>{{ profile.first_name }} {{ profile.last_name }}</h3>
        <p>{{ profile.email }}</p>
        <p>{{ profile.location }}</p>
        <p>{{ profile.created }}</p>
        <p><strong>About Me:</strong> {{ profile.bio }}</p>
    </div>
    
    <div class="buttons">
        <button id="send-button">Send Message</button> <button id="follow-button">Follow</button>
    </div>
</div>